.wrapper {
    width: 740px;
    max-width: 98%;
    margin: 0 auto;
}

.border {
    height: 6px;
    border: 0;
    background-color: $violet;
    background-image: linear-gradient(
        to right,
        $violet 0%,
        $violet 25%,
        $orange 25%,
        $orange 50%,
        $pink 50%,
        $pink 75%,
        $blue 75%,
        $blue 100%,
        $blue 100%
    );
    background-size: 50%;
}

.text_center {
    text-align: center;
}

.mt5 {
    margin-top: 5em;
}